<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<h1>Sucess !!!</h1>
	<p th:text="'Company: ' + ${corp.name} + ' Creted sucessfully' "/>
	    
    <p>Click here  <a th:href="@{/createCorp}">here</a> to create a another new company.</p>
     <p>Click here  <a th:href="@{/createAdminUser}">here</a> to create admin user for the company.</p>
</div>
</body>
</html>
