<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Corp</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<h1>Company  view</h1>
	
    <p th:if="${saveview != null}" >	
     <strong>
   		 <p class="text-success" th:text="'Company ' + ${corp.companyName} + ' Creted sucessfully' "/>
    </strong>
    </p>
     <p th:if="${editview != null}" >	
     <strong>
    	<p class="text-success" th:text="'Company ' + ${corp.companyName} + ' Updated sucessfully' "/>
     </strong>
    </p>
  
   		<div class="col-xs-4 form-group" >
				<label ><b>Company Name: </b></label>
				<i  th:text="${corp.companyName}" > </i>
		</div>
		 <div class="col-xs-4 form-group" >
				<label ><b>Address Line 1: </b></label>
				<i  th:text="${corp.addressLine1}" > </i>
		</div>
		 <div class="col-xs-4 form-group" >
				<label ><b>Address Line 2:  </b></label>
				<i  th:text="${corp.addressLine2}" > </i>
		</div>
		  <div class="col-xs-4 form-group" >
				<label ><b>City: </b></label>
				<i  th:text="${corp.city}" > </i>
		</div>
		   		<div class="col-xs-4 form-group" >
				<label ><b>State: </b></label>
				<i  th:text="${corp.state}" > </i>
		</div>
		 <div class="col-xs-4 form-group" >
				<label ><b>Zip Code:  </b></label>
				<i  th:text="${corp.zip}" > </i>
		</div>
		  <div class="col-xs-4 form-group" >
				<label ><b>End of Day Alert Email Address: </b></label>
				<i  th:text="${corp.eodAlertEmail}" > </i>
		</div>
		   		<div class="col-xs-4 form-group" >
				<label ><b>Interview Integration Email: </b></label>
				<i  th:text="${corp.interviewIntegrationEmail}" > </i>
		</div>
		 <div class="col-xs-4 form-group" >
				<label ><b>FTIN Number:  </b></label>
				<i  th:text="${corp.ftinNumber}" > </i>
		</div>
		  <div class="col-xs-4 form-group" >
				<label ><b>Signing Authority First Name: </b></label>
				<i  th:text="${corp.signingAuthorityFirstName}" > </i>
		</div>
		  <div class="col-xs-4 form-group" >
				<label ><b>Signing Authority Middle Name: </b></label>
				<i  th:text="${corp.signingAuthorityMiddleName}" > </i>
		</div>
						
		<div class="col-xs-4 form-group" >
				<label ><b>Signing Authority Last Name: </b></label>
				<i  th:text="${corp.signingAuthorityLastName}" > </i>
		</div>
		  <div class="col-xs-4 form-group" >
				<label ><b>Signing Authority Phone Number: </b></label>
				<i  th:text="${corp.signingAuthorityPhone}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Signing Authority Designation: </b></label>
				<i  th:text="${corp.signingAuthorityDesignation}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Signing Authority  Email: </b></label>
				<i  th:text="${corp.signingAuthorityEmail}" > </i>
		</div>
				
		<div class="col-xs-4 form-group" >
				<label ><b>Owner First Name: </b></label>
				<i  th:text="${corp.ownerFirstName}" > </i>
		</div>		
	
		<div class="col-xs-4 form-group" >
				<label ><b>Owner Middle Name: </b></label>
				<i  th:text="${corp.ownerMiddleName}" > </i>
		</div>
		 <div class="col-xs-4 form-group" >
				<label ><b>Owner Last Name:  </b></label>
				<i  th:text="${corp.ownerLastName}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Owner Phone Number: </b></label>
				<i  th:text="${corp.ownerPhone}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Owner Alternate Phone Number: </b></label>
				<i  th:text="${corp.ownerAlternatePhone}" > </i>
		</div>
						
		<div class="col-xs-4 form-group" >
				<label ><b>Invoice Contact First Name: </b></label>
				<i  th:text="${corp.invoiceContactFirstName}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Invoice Contact Middle Name: </b></label>
				<i  th:text="${corp.invoiceContactMiddleName}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Invoice Contact Last Name: </b></label>
				<i  th:text="${corp.invoiceContactLastName}" > </i>
		</div>
						
		<div class="col-xs-4 form-group" >
				<label ><b>Invoice Contact  Phone Number: </b></label>
				<i  th:text="${corp.invoiceContactPhone}" > </i>
		</div>	
		<div class="col-xs-4 form-group" >
				<label ><b>Invoice Contact Email: </b></label>
				<i  th:text="${corp.invoiceContactEmail}" > </i>
		</div>
		 <div class="col-xs-4 form-group" >
				<label ><b>Portal Admin First Name:  </b></label>
				<i  th:text="${corp.portalAdminFirstName}" > </i>
		</div>
		  <div class="col-xs-4 form-group" >
				<label ><b>Portal Admin  Middle Name: </b></label>
				<i  th:text="${corp.portalAdminMiddleName}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Portal Admin Last Name: </b></label>
				<i  th:text="${corp.portalAdminLastName}" > </i>
		</div>
						
		<div class="col-xs-4 form-group" >
				<label ><b>Portal Admin Phone Number: </b></label>
				<i  th:text="${corp.portalAdminPhone}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Portal Admin Email: </b></label>
				<i  th:text="${corp.portalAdminEmail}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label ><b>Created by User Id: </b></label>
				<i  th:text="${corp.createdByUserId}" > </i>
		</div>			
		<div class="col-xs-4 form-group" >
				<label><b>Created Date Time: </b></label>
				<i  th:text="${corp.createdDtTm}" > </i>
		</div>
		 <div class="col-xs-4 form-group" >
				<label ><b>Last Updated By User Id: </b></label>
				<i  th:text="${corp.updatedByUserId}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label><b>Last Updated Date Time: </b></label>
				<i  th:text="${corp.updatdDtTm}" > </i>
		</div>
</div>
</body>
</html>
