<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Corps List</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <div th:if="${not #lists.isEmpty(corps)}">
        <h2>Companies List</h2>
        <table class="table table-striped">
            <tr>
                <th>Company Name</th>
                <th>Company FTIN Number</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="corp : ${corps}">
                <td th:text="${corp.companyName}">name</td>
                <td th:text="${corp.ftinNumber}">Company FTIN Number</td>
               
                <td><a class="btn btn-info" th:href="${'/showCorp/' + corp.id}">View</a></td>
                <td><a class="btn btn-warning"  th:href="${'/editCorp/' + corp.id}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="${'/deleteCorp/' + corp.id}">Delete</a></td>
            </tr>
        </table>
 
    </div>
</div>
 
</body>
</html>