<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/css/bootstrap-select.min.css"
		th:href="@{/webjars/bootstrap-select/1.9.4/css/bootstrap-select.min.css}"  media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.min.js"
            th:src="@{/webjars/bootstrap-select/1.9.4/js/bootstrap-select.min.js}"></script>
            
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/i18n/defaults-*.min.js"
    		th:src="@{/webjars/bootstrap-select/1.9.4/js/i18n/defaults-*.min.js}"></script>
    
    <link href="../static/css/rectech.css"
          th:href="@{/css/rectech.css}" rel="stylesheet" media="screen"/>
</head>
<body>

</body>
</html>