<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../../static/css/rectech.css" th:href="@{css/rectech.css}"
	rel="stylesheet" media="screen" />
</head>
<body>

	<div class="container">
		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header"> </div>
						<ul class="nav navbar-nav">
						    <li><a class="btn btn-success" href="#" th:href="@{/}"> <span class="glyphicon glyphicon-home"></span>Home</a></li> 
							<li sec:authorize="hasRole('ROLE_SUPER')"><a class="btn btn-info" href="#" th:href="@{/createCorp}">Create Company</a></li>
							<li sec:authorize="hasRole('ROLE_SUPER')"><a class="btn btn-info" href="#" th:href="@{/createAdminUser}">Create Admin User</a></li>
							<li sec:authorize="hasRole('ROLE_SUPER')"><a class="btn btn-info" href="#" th:href="@{/showCorps}">Company List</a></li>
							<li sec:authorize="hasRole('ROLE_SUPER')"><a class="btn btn-info" href="#" th:href="@{/showAdminUsers}">Admin User List</a></li>
							<li sec:authorize="hasRole('ROLE_SUPER')"><a class="btn btn-info" href="#" th:href="@{/createRecruiter}">Create Recruiter</a></li>
							<li sec:authorize="hasRole('ROLE_SUPER')"><a class="btn btn-info" href="#" th:href="@{/showRecruiters}">Recruiter List</a></li>
						</ul>
						 <ul class="nav navbar-nav navbar-right">
							<li sec:authorize="isAuthenticated()"><a  href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>Sign out</a></li>
						</ul>
					
				</div>
			</nav>
			<div class="bgimg">
				<div >
					<table >
						<tr>
							<td><img  src="../../static/images/headhunt.png" th:src="@{/images/headhunt.png}" /></td>
							<td><img  src="../../static/images/RecuruiterWorkBench.png" th:src="@{/images/RecuruiterWorkBench.png}" /></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>