<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Corps List</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(recruiters)}">
        <h2>Recruiters List</h2>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="recruiter : ${recruiters}">
                <td th:text="${recruiter.firstName}">First Name</td>
                <td th:text="${recruiter.middleName}">Middle Name</td>
               <td th:text="${recruiter.lastName}">Last  Name</td>
               
                <td><a class="btn btn-info" th:href="${'/showRecruiter/' + recruiter.id}">View</a></td>
                <td><a class="btn btn-warning"  th:href="${'/editRecruiter/' + recruiter.id}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="${'/deleteRecruiter/' + recruiter.id}">Delete</a></td>
            </tr>
        </table>
	</div>
 </div>
</body>
</html>