<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container" th:object="${recruiter}">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<h1>Recruiter  view</h1>
	 <p th:if="${saveview != null}" >	  
	   <strong>
		<p class="text-success" th:text="'Recruiter ' + *{firstName} + '  '+ *{lastName} + ' Creted sucessfully' "/>
	   </strong>
	</p>
	 <p th:if="${editview != null}" >	  
	   <strong>
		<p class="text-success" th:text="'Recruiter ' + *{firstName} + '  '+ *{lastName} + ' Updated sucessfully' "/>
		 </strong>
	</p>

	<div class="col-xs-4 form-group" >
				<label for="firstName"><b>First Name </b></label> 
				<i    id="firstName"  th:text="*{firstName}" > </i>
			</div>
			
			<div class="col-xs-4 form-group" >
				<label for="middleName"><b>Middle Name </b></label> 
				<i      th:text="*{middleName}"  > </i>
			</div>
			
			<div class="col-xs-4 form-group" >
				<label for="lastName"><b>Last Name </b></label> 
				<i   th:text="*{lastName}" > </i>
			</div>
			
			<div class="col-xs-4 form-group" >
				<label for="joinDate"><b>Join Date </b></label> 
				<i th:text="*{joinDate}" > </i>
			</div>
			
		    <div class="col-xs-4 form-group" >
				<label for="birthDate"><b>Birth Date </b></label> 
				<i  th:text="*{birthDate}" > </i>
			</div>
			
			<div class="col-xs-4 form-group" >
				<label for="passDate"><b>Pass Date </b></label> 
				<i  th:text="*{passDate}" > </i>
			</div>
			
     		<div class="col-xs-4 form-group">
				<label for="personalEmail"><b>Personal  Email </b></label> 
				<i th:text="*{personalEmail}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="officialEmail"><b>Official Email</b></label> 
				<i th:text="*{officialEmail}" > </i>
			</div>
	    
		    <div class="col-xs-4 form-group" >
				<label for="highestQualifincation"><b>Highest Qualification </b></label> 
				<i   th:text="*{highestQualifincation}" > </i>
			</div>

			<div class="col-xs-4 form-group" >
				<label for="recrutingComments"><b>Recruiting Comments </b></label> 
				<i   th:text="*{recrutingComments}" > </i>
			</div>
			
						
			<div class="col-xs-4 form-group" >
				<label for="salary"><b>Salary </b></label> 
				<i   th:text="*{salary}" > </i>
			</div>
			
			<div class="col-xs-4 form-group" >
				<label for="commission"><b>Commission </b></label> 
				<i   th:text="*{commission}" > </i>
			</div>
			
			<div class="col-xs-4 form-group" >
				<label for="prevExp"><b>Previous Experience </b></label> 
				<i   th:text="*{prevExp}" > </i>
			</div>
			
			<div class="col-xs-4 form-group" >
				<label for="prevCompWorked"><b>Previous Company Worked </b></label> 
				<i   th:text="*{prevCompWorked}" > </i>
			</div>
									
			<div class="col-xs-4 form-group" >
				<label for="nativePlace"><b>Native Place</b></label> 
				<i   th:text="*{nativePlace}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="addrLine1"><b>Current Address Line 1 </b></label> 
				<i    id="addrLine1"  th:text="*{addrLine1}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="addrLine2"><b>Current Address Line 2 </b></label> 
				<i    id="addrLine2"  th:text="*{addrLine2}" > </i>
			</div>
						
			<div class="col-xs-4 form-group">
				<label for="addrLine3"><b>Current Address Line 3 </b></label> 
				<i    id="addrLine2"  th:text="*{addrLine3}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="town"><b>Town/City</b></label> 
				<i   th:text="*{town}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="district"><b>District </b></label> 
				<i   th:text="*{district}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="state"><b>State</b></label> 
				<i     th:text="*{state}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="zipcode"><b>Zip Code</b></label> 
				<i     th:text="*{zipcode}" > </i>
			</div>
			
			
			<div class="col-xs-4 form-group">
				<label for="addrLine1"><b>Permanent Address Line 1 </b></label> 
				<i    th:text="*{permAddrLine1}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="addrLine2"><b>Permanent  Address Line 2 </b></label> 
				<i      th:text="*{permAddrLine2}" > </i>
			</div>
						
			<div class="col-xs-4 form-group">
				<label for="addrLine3"><b>Permanent  Address Line 3 </b></label> 
				<i     th:text="*{permAddrLine3}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="permtTown"><b>Permanent Addr Town/City</b></label> 
				<i   th:text="*{permtTown}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="permDistrict"><b>Permanent Add District </b></label> 
				<i   th:text="*{permDistrict}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="permState"><b>Permanent Add State</b></label> 
				<i     th:text="*{permState}" > </i>
			</div>
			
			<div class="col-xs-4 form-group">
				<label for="permZipcode"><b>Permanent Add Zip Code</b></label> 
				<i  th:text="*{permZipcode}" > </i>
			</div>
			
			
  		<div class="col-xs-4 form-group" >
				<label ><b>Created by User Id: </b></label>
				<i  th:text="*{createdByUserId}" > </i>
		</div>			
		<div class="col-xs-4 form-group" >
				<label><b>Created Date Time: </b></label>
				<i  th:text="*{createdDtTm}" > </i>
		</div>
		 <div class="col-xs-4 form-group" >
				<label ><b>Last Updated By User Id: </b></label>
				<i  th:text="*{updatedByUserId}" > </i>
		</div>
		<div class="col-xs-4 form-group" >
				<label><b>Last Updated Date Time: </b></label>
				<i  th:text="*{updatdDtTm}" > </i>
		</div>
 </div>
</body>
</html>
