<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Admin users List</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    
    <div th:if="${not #lists.isEmpty(adminUsers)}">
        <h2>Admin Users List</h2>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last name</th>
                <th>User name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="adminUser : ${adminUsers}">
                <td th:text="${adminUser.firstName}">First Name</td>
                <td th:text="${adminUser.lastName}">Last name</td>
                 <td th:text="${adminUser.userName}"> User name</td>
                <td><a class="btn btn-info" th:href="${'showAdminUser/' + adminUser.id}">View</a></td>
                <td><a class="btn btn-warning"  th:href="${'/editAdminUser/' + adminUser.id}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="${'/deleteAdminUser/' + adminUser.id}">Delete</a></td>

            </tr>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(adminUsers)}">
       <p>No Admin Users at this time</p>
    </div>
</div>
 
</body>
</html>