<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<h1>Admin User view</h1>
	    
    <strong>
	 <p th:if="${saveview != null}" >	  
		<p class="text-success" th:text="'Admin User: ' + ${adminUser.userName} + ' Creted sucessfully' "/>
	</p>
	 <p th:if="${editview != null}" >	  
		<p class="text-success" th:text="'Admin User: ' + ${adminUser.userName} + ' Updated sucessfully' "/>
	</p>
	</strong>

  	<p th:text="'First Name: ' + ${adminUser.firstName}  "/>
  	<p th:text="'Last Name: ' + ${adminUser.lastName}  "/>
	<p th:text="'User Id:  ' + ${adminUser.userName}  "/>
	<p th:text="'Email: ' + ${adminUser.email}  "/>
	<p th:text="'Created by: ' + ${adminUser.createdByUserId}  "/>
	<p th:text="'Created datetime: ' + ${adminUser.createdDtTm}  "/>
	<p th:text="${adminUser.updatedByUserId} ? 'Last Updated by: ' +  ${adminUser.updatedByUserId} : '' "/>
	<p th:text="${adminUser.updatdDtTm} ? 'Updated datetime: ' +  ${adminUser.updatdDtTm} : '' "/>
	

 </div>
</body>
</html>
