<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head> 
    <title>Admin User Form</title>
  <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container" align="center">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<h1>Admin User Form</h1>
    <form action="#" class="form-inline" th:action="@{/saveAdminUser}" th:object="${adminUser}" method="post">
         
      <input type="hidden" th:field="*{id}"/>
        
        <p th:if="${editview == null}" >
        <label for="firstName"><b>Company Name </b></label>
          <select th:field="*{corpId}" >
			 <option th:each="type : ${corps}" th:value="${type.id}" 
			 				th:text="${type.CompanyName}">Wireframe</option>
			</select>
		</p>
		
			  <div class="col-xs-8  form-group" align="right">
			  <label for="firstName" ><b>First Name <span style="color:red;">*</span></b></label>
			    <input type="text"  th:field="*{firstName}" class="form-control" style="width: 150px" required="required"/>
			  </div>
 
		    <div class="col-xs-8  form-group" align="right">
				<label for="lastName"><b>Last Name <span style="color:red;">*</span></b></label> 
				<input type="text"   class="form-control" th:field="*{lastName}" style="width: 150px" required="required" />
			</div>
			
		    <div class="col-xs-8 form-group" align="right">
				<label for="email"><b>Email  <span style="color:red;">*</span></b></label> 
				<input type="email"   class="form-control" th:field="*{email}" style="width: 150px" required="required" />
			</div>
			
		    <div class="col-xs-8  form-group" align="right">
				<label for="userName"><b>User Name/Id <span style="color:red;">*</span></b></label> 
				<input type="text"   class="form-control" th:field="*{userName}" style="width: 150px" required="required" />
			</div>
			
			<div class="col-xs-8  form-group" align="right" >
				<label for="password"><b>Password <span style="color:red;">*</span></b></label> 
				<input type="password"   class="form-control" th:field="*{password}" style="width: 150px" required="required" />
			</div>
			<div class="col-xs-8 form-group" align="right">
				<span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
			</div>	
			<div class="col-xs-8 form-group" align="right">
				<input class="btn btn-primary" type="submit" value="Submit"/>
				<input class="btn btn-primary" type="reset" value="Reset"/>
			</div>		
		
    </form>
 </div>
</body>
</html>
