<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Super User Page</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <h1>Welcome Super User</h1>
        <!--
        <p>Click here to  <a th:href="@{/createCorp}">here</a> create a new company.</p>
        <p>Click here  <a th:href="@{/createAdminUser}">here</a> to create admin user for a company.</p>
        <p>Click here  <a th:href="@{/showCorps}">here</a> to show all existing companies.</p>
        <p>Click here  <a th:href="@{/showAdminUsers}">here</a> to show all existing admin users.</p>
        <p>Click here  <a th:href="@{/createRecruiter}">here</a> to create a recruiter.</p>
        -->
 </div>
    </body>
</html>